<% action = (post.persisted? ? post_url(post) : posts_url) %>
<% method = (post.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= render_auth_token %>

  <% Sub.all.each do |sub| %>
    <input type="checkbox" name="post[sub_ids][<%= sub.id %>]"
    <%= "checked" if @post.subs.include?(sub) %>
    ><%= sub.title %><br>
  <% end %>

  <label for="title">Title</label>
  <input id="title" name="post[title]" type="text" value="<%= @post.title %>">
  <br>

  <label for="url">Link</label>
  <input id="url" name="post[url]" type="text" value="<%= @post.url %>">
  <br>

  <label for="content">Content</label>
  <textarea id="content" name="post[content]"><%= @post.content %></textarea>
  <br>

  <!-- <input type="hidden" name="post[hacker]" value="hacker"> -->
  <button>Submit</button>
</form>
