<h1><%= @post.title %></h1>

<h2>By: <%= @post.author.username %></h2>

<p><%= @post.url %></p>
<p><%= @post.content %></p>

<br>
<%= link_to "Comment on this post", new_post_comment_url(@post) %>
<br>

<h3>Comments:</h3>
<!-- <ul> -->
  <% comments = @post.comments.includes(:author).where(parent_comment_id: nil) %>
  <%= render 'comments', comments: comments %>

<!-- </ul> -->
<br>

<% if @post.author == current_user %>
<%= link_to "Edit this post", edit_post_url(@post) %>
<br>
<%= button_to "Delete this post", post_url(@post), method: :delete %>
<% end %>
<br>

Posted-to subs:
<ul>
  <% @subs.each do |sub| %>
  <li>
    <a href="<%= sub_url(sub) %>"> <%= sub.title %> </a>
  </li>
  <% end %>
</ul>
<br>
